@view-transition {
  navigation: auto;
}

/* 3. Animation timing */
::view-transition-group(*) {
  animation-duration: 350ms;
}

::view-transition-old(eternal-wallet-banner),
::view-transition-new(eternal-wallet-banner) {
  animation: none;
  mix-blend-mode: normal;
  height: 100%;
  overflow: clip;
  /* animation-duration: 1000ms; */
  border-radius: 2rem;
}

#project-eternal-wallet::view-transition-new(eternal-wallet-banner) {
  object-fit: cover;
}

#projects-layout::view-transition-new(eternal-wallet-banner) {
  object-fit: contain;
}
#projects-layout::view-transition-old(eternal-wallet-banner) {
  object-fit: cover;
}
::view-transition-group(eternal-wallet-banner) {
  z-index: 1;
}
